@import 'components/wrapper/wrapper';
@import 'components/container/container';
@import 'components/header/header';
@import 'components/nav/nav';
@import 'components/about/about';

* {
    box-sizing: border-box;
}

body {
    color: #f5f5f5;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    font-family: Roboto Slab;
}

p {
    font-size: 1.8em;
    font-family: Lato;
}

ul, ol {
    font-size: 1.8em;
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #f5f5f5;
    border-left: 1px solid transparent;
    padding-left: 4px;

    &:hover {
        border-left: 1px solid #333;
    }
}
